@media screen and (max-width:750px){

    #clock_container{
        position: relative;
        margin: auto;
        /* border: 2px solid black; */
        height: 70vh;
        width: 50vw;
        /* display: none; */
}

@media screen and (max-width:600px){

    #clock_container{
        position: relative;
        margin: auto;
        /* border: 2px solid black; */
        height: 70vh;
        width: 60vw;
        /* display: none; */
}

@media screen and (max-width:450px){

    #clock_container{
        position: relative;
        margin: auto;
        /* border: 2px solid black; */
        height: 70vh;
        width: 70vw;
        /* display: none; */
}
@media screen and (max-width:300px){

    #clock_container{
        position: relative;
        margin: auto;
        /* border: 2px solid black; */
        height: 70vh;
        width: 80vw;
        /* display: none; */
}
@media screen and (max-width:15px){

    #clock_container{
        position: relative;
        margin: auto;
        /* border: 2px solid black; */
        height: 70vh;
        width: 90vw;
        /* display: none; */
}